In [1]:
from outils import *
from hog import hog
import numpy as np

In [4]:
D = 10
N = 100
h = hog(D,N)

In [5]:
h.jouer(h.strategie_aveugle(),h.strategie_aveugle())

(101, 92)

In [4]:
def moyenne(strategie1,strategie2,name1,name2,steps=1000):
    def f1():
        score1,score2 = h.jouer(strategie1,strategie2)
        return 0 if score1 > score2 else 1
    
    def f2():
        score1,score2 = h.jouer(strategie1,strategie2)
        return 0 if score1 > score2 else 1
    
    a = np.zeros((steps))-1
    vfunc = np.vectorize(lambda x: f1())
    s1 = 1 - vfunc(a).sum()/steps
    
    r = dict()
    t = dict()
    t[name2] = s1 
    r[name1] = t
    
    return r

def function(stratiges,names):
    from itertools import  combinations_with_replacement
    l = list(combinations_with_replacement(stratiges,2))
    names = list(combinations_with_replacement(names,2))
    
    r=list()
    for i in range(len(l)):
        name1,name2 = names[i]
        s1,s2       = l[i]
        r.append(moyenne(s1,s2,name1,name2))
        if(name1 != name2):
            r.append(moyenne(s2,s1,name2,name1))
    return r 

def get_pandas_data():
    a = [h.strategie_aveugle(),h.strategie_optimale(),h.strategie_aleatoire()]
    names=["aveugle","optimale","aleatoire"]
    a = function(a,names)
    d=dict({ n : dict() for n in names })
    for k in a:
        _k = list(k.keys())[0]
        _v = list(k.values())[0]
        default_data = dict()
        for x in k.values():
            d[_k].update(x)
    import pandas as pd
    df = pd.DataFrame(d).T
    df.to_csv("./data.csv")
    return  df

In [5]:
import pandas as pd
p = get_pandas_data()

In [10]:
import pandas as pd

In [34]:
D=5
m = eg_simul(h.probabiltes,D)
index = [ "d="+str(i) for i in range(1,D+1)]
df = pd.DataFrame(m,index=index, columns=index)
df.to_csv("./matrice_gain.csv")

          d=1       d=2       d=3       d=4       d=5
d=1  0.000000 -0.375000 -0.226852 -0.050797  0.096558
d=2  0.375000  0.000000 -0.198817 -0.116405  0.013642
d=3  0.226852  0.198817 -0.000000 -0.100273 -0.045248
d=4  0.050797  0.116405  0.100273  0.000000 -0.044775
d=5 -0.096558 -0.013642  0.045248  0.044775 -0.000000

In [12]:
print(m)

[[ 0.         -0.375      -0.22685185]
 [ 0.375       0.         -0.19881687]
 [ 0.22685185  0.19881687 -0.        ]]

In [32]:
df

       d=0    d=1    d=2
d=0  0.000 -0.375 -0.227
d=1  0.375  0.000 -0.199
d=2  0.227  0.199 -0.000